<div id="header">
  <img src="myAssets/Wedding-Salon-logo.png" alt="logo" height="96" width="80">
  <p id="title">Sales Management System</p>
  <button class="headerButton">Sign out</button>
  <button class="headerButton" id="account">
    <img id="user" src="myAssets/user.png" alt="User">
  </button>
</div>

<div id="sideMenu">
  <a routerLink='/companies' class="menuOption">Companies</a>
  <a routerLink='/add-company' class="menuOption">Add Company</a>
  <a routerLink='' class="menuOption">Statistics</a>
  <a routerLink='/email' class="menuOption">Email</a>
</div>

<div id="vl"></div>
<router-outlet></router-outlet>
